@charset "UTF-8";
/* CSS Document */

body{font-family: 'Open Sans', sans-serif;}
.contain-img{max-width: 100%;max-height: 100%;}

/*set fot text*/

div{padding:0;margin: 0;border: 0;}

h1,h2,h3,h4,h5,h6{line-height: 130%}
h1{font-size: 72px;margin: 0;}
h2{font-size: 48px;margin: 0;}
h3{font-size: 36px;margin: 0;}
h4{font-size: 24px;margin: 0;}
h5{font-size: 18px;margin: 0;}
h6{font-size: 12px;margin: 0;}

.text-bold{font-weight: bold}
.text-normal{font-weight: normal}
.text-lighter{font-weight: lighter}

.text-align-l{text-align: left}
.text-align-c{text-align: center}
.text-align-r{text-align: right}

.bg-b0 {background-color: #1F1F26;}
.bg-b1 {background-color: #353542;}
.bg-b2 {background-color: #656570;}
.bg-b3 {background-color: #A1A1A6;}
.bg-b4 {background-color: #C7C6CA;}
.bg-b5 {background-color: #ECECED;}
.bg-b6 {background-color: #F6F6F6;}
.bg-w {background-color: #ffffff;}

.text-b1 {color: #353542;}
.text-b2 {color: #656570;}
.text-b3 {color: #A1A1A6;}
.text-b4 {color: #C7C6CA;}
.text-b5 {color: #ECECED;}
.text-b6 {color: #F6F6F6;}
.text-w {color: #ffffff;}

/*set fot text*/
.home-nav{
	position: fixed;
	left: 0;
	top: 0;
	height: 88px;
	width: 100%;
	z-index: 999;
	background-color: rgba(255,255,255,0);
}

.home-nav-ul{
	right: 0;
	height: 64px;
	margin: 0;
	padding: 0;
	width: auto;
	text-align: center;
}

.home-nav-ul-li{
	display: inline-block;
	text-align: center;
	vertical-align: center;
	height: 88px;
	width: inherit;
	margin: auto 48px;
}

.nav-lineheight{
	line-height: 88px;
}

nav.navbar.bg{
	background-color: rgba(255,255,255,1.00);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.b1trans{
	color:#1F1F26;
}

@media(max-width:767px){
	.nav-lineheight{
	line-height: 16vh;
}
}

@media(max-width:767px){
	nav ul li{
	display:block;
	text-align: center;
	height: 16vh;
	width: auto;
	margin: auto 12px;
	background-color:rgba(31,31,38,1); 
}
	nav ul li a h4{
		text-shadow: 0px 2px 12px rgba(255,255,255,0.3);
	}
	nav ul li div{
		margin: 0px 10%;
		background-color: rgba(255,255,255,0.15);
		height: 2px;
	}
}

@media(max-width:767px){
	.hide-in-mobile{
		visibility: hidden;
	}
	.navbar-bg-xs{
		width: 100%;
		height: 100vh;
		background-color:rgba(31,31,38,0.95);
		z-index: -20;
		margin: 0;
		padding: 0;
	}
}

@media(min-width:768px){
	.hide-in-pc{
		visibility: hidden;
	}}

.home-container {
    width:100%;
    height:auto;
	padding:12px;
	margin: 0px;
	border: 0px;
	display: flex;
}

.home-content-grid {
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: center;
	
}

@media(max-width:767px){
.home-content-grid {
    top:0px;
    left:0px;
    width:100%;
	}}
	
@media(min-width:768px){
.home-content-grid {
	width: 720px;
	margin: 0px auto;
	}}

@media(min-width:992px){
.home-content-grid {
	width: 960px;
	margin: 0px auto;
	}}

.home-text-grid {
	margin: 0px;
	padding: 0px;
	border: 0px;

}

@media(max-width:767px){
.home-text-grid {
    top:0px;
    left:0px;
    width:100%;

	}}
	
@media(min-width:768px){
.home-text-grid {
	width: 720px;
	margin: 0px auto;
	}}

.margin-l{margin: 48px 0px 0px 0px}
.margin-m{margin: 24px 0px 0px 0px}
.margin-s{margin: 12px 0 0 0 }
.space-l{height: 48px}
.space-m{height: 24px}
.space-s{height: 12px}
	
.btn-main {
  background: #04CEDE;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 24px;
  padding: 12px 0px;
  text-decoration: none;
	box-shadow: 0px 2px 12px 4px rgba(4,206,222,0.3);
}

.btn-main-text{
	text-align: center;
		color: #FFFFFF;
}